# SPDX-License-Identifier: LGPL-2.1-or-later
mkosi.local/
mkosi.local.conf
output/
mkosi.cache/
mkosi.tools/
mkosi.tools.manifest
mkosi.key
mkosi.crt
.mkosi-private
.envrc
mkosi.images/base/mkosi.extra/usr/share/homebrew.tar.zst
mkosi.profiles/snow/mkosi.extra/usr/share/homebrew.tar.zst
shared/snow/tree/usr/share/homebrew.tar.zst
shared/snow/tree/usr/share/gnome-shell/extensions/hotedge@jonathan.jdoda.ca
shared/snow/tree/usr/share/gnome-shell/extensions/logomenu@aryan_k
shared/snow/tree/usr/share/gnome-shell/extensions/bazaar-integration@kolunmi.github.io
shared/cayo/tree/usr/share/homebrew.tar.zst
.claude/
shared/snow/tree/usr/share/gnome-shell/extensions/bazaar-integration@kolunmi.github.io/stylesheet.css
shared/snow/tree/usr/share/gnome-shell/extensions/bazaar-integration@kolunmi.github.io/metadata.json
shared/snow/tree/usr/share/gnome-shell/extensions/bazaar-integration@kolunmi.github.io/extension.js
shared/snow/tree/usr/share/glib-2.0/schemas/org.gnome.shell.extensions.logo-menu.gschema.xml
