# /usr/lib/systemd/system/bls-garbage-collect.service
#
# This service removes old kernel entries from /boot/EFI/Linux
# for implementation details see /usr/libexec/bls-gc
#
# This service is intended to be run very early in the boot process,
# before basic.target, so that old kernels are removed before
# any new kernels are installed as part of an upgrade. The alternative
# option is to run after bootc-finalize-staged.service, but that service
# is called manually by bootc. So running very early in the boot process
# ensures that the cleanup is always done.
#
# TODO: Remove when bootc supports garbage collection
# See issue https://github.com/bootc-dev/bootc/issues/1808

# https://lists.freedesktop.org/archives/systemd-devel/2018-March/040557.html
[Unit]
Description=BLS Garbage Collection
DefaultDependencies=no

RequiresMountsFor=/boot
After=local-fs.target
Before=basic.target final.target
# We want to make sure the transaction logs are persisted to disk:
# https://bugzilla.redhat.com/show_bug.cgi?id=1751272
After=systemd-journal-flush.service
Conflicts=final.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/bls-gc
TimeoutStopSec=1m
# Bootc should never touch /var at all...except, we need to remove
# the /var/.updated flag, so we can't just `InaccessiblePaths=/var` right now.
# For now, let's at least use ProtectHome just so we have some sandboxing
# of that.
ProtectHome=yes
# And we shouldn't affect the current deployment's /etc.
ReadOnlyPaths=/etc
# We write to /boot of course.

[Install]
WantedBy=basic.target