[Unit]
DefaultDependencies=no
Before=local-fs.target sysinit.target

[Mount]
What=/var/srv
Where=/srv
Options=bind

[Install]
WantedBy=local-fs.target